<!--<h1>Upload Image</h1>-->

<div class="row">

  <div class="col-md-6">
    <div class="example-full-width">
<!--      <input  type="file" (change)="featuredPhotoSelected($event);showPreview($event)">-->
      <input #imageUploader  type="file" ngModel (change)="getFiles($event); showPreview($event)">
    </div>
    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Select Language</mat-label>
      <mat-select [(ngModel)]="selectedOption" required>
        <mat-option  *ngFor="let lan of languages" [value]="lan.value">
          {{lan.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <button (click)="onSubmit()" mat-raised-button color="primary" class="btn-block">upload image</button>


    <hr>
    <div class="card">
      <div class="card-header">
        text
      </div>
      <div class="card-body ">

        <div class="text-center">
          <mat-progress-bar mode="indeterminate" *ngIf="load"></mat-progress-bar>
        </div>
        {{text}}
      </div>
      <div class="card-footer">

        <button  (click)="copyText(text)" *ngIf="text" class="btn-block" mat-raised-button color="primary">copy text</button>
        <button  (click)="generatePdf()" *ngIf="text" class="btn-block" mat-raised-button color="primary">Download pdf file</button>
      </div>
    </div>


  </div>
  <div class="col-md-6">
    <img (click)="imageUploader.click()" class="card-img" [src]="imgSrc" alt="" width="25%" >
  </div>

</div>










